---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/media/video/seminars/index.html">Seminarios</a></li>
        <li role="presentation"><a href="/media/video/trainings/index.html">Entrenamientos</a></li>
        <li role="presentation"><a href="/media/video/exhibitions/index.html">Exhibiciones</a></li>
        <li role="presentation"><a href="/media/video/tournaments/index.html">Torneos</a></li>
      </ul>
    </div>

    <div class="col-md-10">
      {{ content }}
  </div>
</div>
